<div class="prose">
  @if (entity$ | async; as entity) {
    @if (properties$ | async; as props) {
      <div class="flex items-center gap-4 mb-4">
        <button class="btn btn-ghost btn-circle" [routerLink]="'/view/' + entity.table_name" type="button">
          <span class="material-symbols-outlined">arrow_back</span>
        </button>
        <h1 class="mb-0">
          New {{ entity.display_name }}
          @if (entity.description) {
            <div class="tooltip tooltip-right inline-block" [attr.data-tip]="entity.description">
              <span class="material-symbols-outlined text-info cursor-help ml-2 text-xl align-middle">help_outline</span>
            </div>
          }
        </h1>
      </div>
      @if (createForm) {
        <form [formGroup]="createForm" (ngSubmit)="submitForm($event)">
          @if (showValidationError) {
            <div role="alert" class="alert alert-error mb-4">
              <span class="material-symbols-outlined">error</span>
              <span>Please fix the errors highlighted below before saving.</span>
            </div>
          }
          <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 2xl:grid-cols-8 gap-6">
            @for (prop of props; track prop) {
              <div [class]="'col-span-full sm:col-span-' + Math.min(SchemaService.getColumnSpan(prop), 3) + ' lg:col-span-' + Math.min(SchemaService.getColumnSpan(prop), 6) + ' 2xl:col-span-' + SchemaService.getColumnSpan(prop)">
                <app-edit-property [property]="prop" [formGroup]="createForm"></app-edit-property>
              </div>
            }
          </div>
          <div class="divider"></div>
          <button type="submit" class="btn btn-accent">
            <span class="material-symbols-outlined">save</span> Save
          </button>
        </form>
      } @else {
        <!-- Empty state when form is not available -->
        <div class="p-8">
          <app-empty-state
            icon="block"
            title="Access denied"
            message="You don't have permission to create records of this type."
            alertType="error">
          </app-empty-state>
        </div>
      }
    }
    <app-dialog #successDialog>
      <div class="flex flex-col gap-2 w-full">
        <button class="btn whitespace-normal h-auto min-h-12" (click)="navToCreate(entity.table_name)">Create another {{entity.display_name}}</button>
        <button class="btn whitespace-normal h-auto min-h-12" (click)="navToList(entity.table_name)">Back to {{entity.display_name}} list</button>
      </div>
    </app-dialog>
    <app-dialog #errorDialog>
      <div class="flex flex-col gap-2 w-full">
        <button class="btn whitespace-normal h-auto min-h-12">Try again</button>
        <button class="btn whitespace-normal h-auto min-h-12" (click)="navToList(entity.table_name)">Back to {{entity.display_name}} list</button>
      </div>
    </app-dialog>
  }
</div>
